.App {
  max-width: 860px;
  margin: 40px auto;
}

button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: rgb(252, 242, 242);
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: #a0274f;
  color: #fff;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.break {
  padding: 5px;
}

.navbar {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: #9eb1dc;
  color: #cd18dd;
  flex-direction: column;
}